# Copyright (c) 2024, Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

---
networks:
  quickstart:
    external: true
    name: ${DOCKER_NETWORK}

services:
  create-app-install-request:
    build: .
    container_name: create-app-install-request
    volumes:
      - ./scripts/start.sh:/app/start.sh
      - ./scripts/create-app-install-request.sh:/app/create-app-install-request.sh
      - ./scripts/simulate-user-input.sh:/app/simulate-user-input.sh
      - ./../utils.sh:/app/utils.sh
    environment:
      - AUTH_APP_PROVIDER_PARTICIPANT_ADMIN_USER_NAME=${AUTH_APP_PROVIDER_PARTICIPANT_ADMIN_USER_NAME}
      - AUTH_APP_PROVIDER_PARTICIPANT_ADMIN_USER_PASSWORD=${AUTH_APP_PROVIDER_PARTICIPANT_ADMIN_USER_PASSWORD}
      - AUTH_APP_PROVIDER_TOKEN_URL=${AUTH_APP_PROVIDER_TOKEN_URL}
      - AUTH_APP_PROVIDER_VALIDATOR_USER_ID=${AUTH_APP_PROVIDER_VALIDATOR_USER_ID}
      - AUTH_APP_USER_PARTICIPANT_ADMIN_USER_ID=${AUTH_APP_USER_PARTICIPANT_ADMIN_USER_ID}
      - AUTH_APP_USER_PARTICIPANT_ADMIN_USER_NAME=${AUTH_APP_USER_PARTICIPANT_ADMIN_USER_NAME}
      - AUTH_APP_USER_PARTICIPANT_ADMIN_USER_PASSWORD=${AUTH_APP_USER_PARTICIPANT_ADMIN_USER_PASSWORD}
      - AUTH_APP_USER_TOKEN_URL=${AUTH_APP_USER_TOKEN_URL}
      - AUTH_APP_USER_VALIDATOR_USER_ID=${AUTH_APP_USER_VALIDATOR_USER_ID}
      - AUTH_APP_USER_WALLET_ADMIN_USER_NAME=${AUTH_APP_USER_WALLET_ADMIN_USER_NAME}
      - AUTH_APP_USER_WALLET_ADMIN_USER_PASSWORD=${AUTH_APP_USER_WALLET_ADMIN_USER_PASSWORD}
    command: /app/start.sh
    networks:
      - ${DOCKER_NETWORK}