version: 2.1

# enable setup dynamic configuration:
setup: true

# use the path-filtering orb to control jobs based on the path of an updated set of files
# https://circleci.com/developer/orbs/orb/circleci/path-filtering
orbs:
  path-filtering: circleci/path-filtering@2.0.4

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: main
          name: add shared configuration
          mapping: |
            .* shared_enabled true .circleci/configs/workflow_shared.yml
          config-path: .circleci/continue_config.yml
      - path-filtering/filter:
          base-revision: main
          name: check for updated files
          # mapping structure: <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            (quickstart/.*|.circleci/configs/workflow_test.yml) run-integration-test true .circleci/configs/workflow_test.yml
            sdk/.* run-docs-validation true .circleci/configs/workflow_docs.yml
          # this is the path of the configuration we should trigger once path filtering complete.
          config-path: .circleci/continue_config.yml