# Copyright (c) 2023, Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
---
x-vars:
  app-provider-pqs-env: &app-provider-pqs-env
    path: ${MODULES_DIR}/pqs/env/app-provider/${PQS_APP_PROVIDER_PROFILE}/${AUTH_MODE}.env
    required: false

  app-user-pqs-env: &app-user-pqs-env
    path: ${MODULES_DIR}/pqs/env/app-user/${PQS_APP_USER_PROFILE}/${AUTH_MODE}.env
    required: false

  app-provider-pqs-onboarding-env: &app-provider-pqs-onboarding-env
    path: ${MODULES_DIR}/pqs/onboarding/app-provider/${PQS_APP_PROVIDER_PROFILE}/${AUTH_MODE}.env
    required: false

  app-user-pqs-onboarding-env: &app-user-pqs-onboarding-env
    path: ${MODULES_DIR}/pqs/onboarding/app-user/${PQS_APP_USER_PROFILE}/${AUTH_MODE}.env
    required: false

volumes:
  onboarding:

services:
  pqs-app-provider:
    image: ${SCRIBE_IMAGE}:${SCRIBE_VERSION}
    container_name: pqs-app-provider
    working_dir: /daml3.3
    env_file:
      - ${LOCALNET_ENV_DIR}/common.env
#      - ${APP_PROVIDER_AUTH_ENV}
      - ${MODULES_DIR}/pqs/env/pqs.env
      - *app-provider-pqs-onboarding-env
      - *app-provider-pqs-env
    volumes:
      - onboarding:/onboarding
    command:
      - "pipeline"
      - "ledger"
      - "postgres-document"
    depends_on:
      canton:
        condition: service_healthy
      splice-onboarding:
        condition: service_healthy
    restart: on-failure:100
    profiles:
      - pqs-app-provider

  pqs-app-user:
    image: ${SCRIBE_IMAGE}:${SCRIBE_VERSION}
    container_name: pqs-app-user
    working_dir: /daml3.3
    env_file:
      - ${LOCALNET_ENV_DIR}/common.env
#      - ${APP_USER_AUTH_ENV}
      - ${MODULES_DIR}/pqs/env/pqs.env
      - *app-user-pqs-onboarding-env
      - *app-user-pqs-env
    volumes:
      - onboarding:/onboarding
    command:
      - "pipeline"
      - "ledger"
      - "postgres-document"
    depends_on:
      canton:
        condition: service_healthy
      splice-onboarding:
        condition: service_healthy
    restart: on-failure:100
    profiles:
      - pqs-app-user

  splice-onboarding:
    env_file:
      - *app-provider-pqs-onboarding-env
      - *app-user-pqs-onboarding-env
    volumes:
      - ${MODULES_DIR}/pqs/onboarding/app-provider/env.sh:/app/scripts/${PQS_APP_PROVIDER_PROFILE}/app-provider-pqs.sh
      - ${MODULES_DIR}/pqs/onboarding/app-user/env.sh:/app/scripts/${PQS_APP_USER_PROFILE}/app-user-pqs.sh

  postgres:
    environment:
      - CREATE_DATABASE_pqs_app_provider=pqs-app-provider
      - CREATE_DATABASE_pqs_app_user=pqs-app-user